/SendTo
/Start Menu
/Templates
/.af_instances
/.af_token
/.bash_history
/.codeintel
/.config
/.gem
/.gimp-2.8
/.heroku
/.node-gyp
/.ssh
/.thumbnails
/.yeoman
/AppData
/Application Data
/Contacts
/Cookies
/Desktop
/Downloads
/Dropbox
/Favorites
/Links
/Local Settings
/Documents
/My Documents
/Music
/Pictures
/Videos
/NetHood
/pip
/PrintHood
/Recent
/Roaming
/Saved Games
/Searches
/testPoints.json
/.npmrc
/_netrc
/_viminfo
/agent.log
/console.jpg
/dotfiles-af21f19abe403f295d6dd2e7aaded897417041e0.zip
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
/NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Sti_Trace.log
Thumbs.db
.grunt-init/
.CFUserTextEncoding
.Trash/
.account
.dropbox/
Library/
Movies/
Public/
bin/
Icon.cache/
.cache/
.cups/
.irb_history
.npm/
voltron/
