[user]
  email = gleb@kensho.com
  name = Gleb Bahmutov
	editor = subl
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = cyan
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  ; nicer logs
  standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since='1 week ago' --author gleb
  lg = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --since='3 days ago'
  wdiff = diff --word-diff=plain
  ignored = ls-files --others -i --exclude-standard

  ; work flow shortcuts
  cm = checkout master
  st = status -sb
  done = commit -am
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend

  ; pulling shortcuts
  fromo = pull origin master
  fromgh = pull github master

  join = merge --no-ff --no-edit

  ; pushing shortcuts
  toorigin = push origin --all
  togithub = push github --all
  tobitbucket = push bitbucket --all

  ; really short pushing aliases
  too = push origin master --tags
  togh = push github master --tags
  tobb = push bitbucket master --tags

  tc = push origin --tags
[core]
  editor = subl
